
body {
    background: black;
    font-family: Tahoma, sans-serif;
}

.page {    
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.page__content {
    position: absolute;
    top: 0;
    margin: 0px 0px 10px 0px;
}

@-webkit-keyframes content {   
    from {
        opacity: 0; 
        width: 0%;          
    }
    to {
        opacity: 0.75;
        width: 70%;
    }
}

@keyframes content {   
    from {
        opacity: 0; 
        width: 0%;          
    }
    to {
        opacity: 0.75;
        width: 70%;
    }
}

.content {
    background: palegreen;
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 0 0 6px 5px black inset;
            box-shadow: 0 0 6px 5px black inset;
    -webkit-animation: content 0.5s forwards;
            animation: content 0.5s forwards;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;    
}

.content_hidden {
    display: none;
}

.content_shown {
    display: block;
}

.page__matrix-background {
    position: fixed;
}

.matrix-background {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;   
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.matrix-background_clickable {
    cursor: pointer;
}

.matrix-background__column {
    /*height: 100vh;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.matrix-background__letter {
    opacity: 0;
}

.matrix-background__letter_color-main {
    color: #0F0;
}

.matrix-background__letter_color-lighter {
    color: palegreen;
}

/*@keyframes backlight {   
    from {
      color: #0F0;              
    }
    to {
      color: black;
    }
  }

@keyframes trace {   
    from {
        color: palegreen;           
    }
    to {
        color: black;
    }
}

.letter-backlight-first {
    animation: backlight 5.5s infinite;
}

.letter-backlight-second {
    animation: backlight 2s;
}

.letter-mouse-trace {
    animation: trace 1s;
}*/


@-webkit-keyframes header {   
    from {
        height: 0;        
    }
    to {
        height: 40vh;
    }
}


@keyframes header {   
    from {
        height: 0;        
    }
    to {
        height: 40vh;
    }
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: header 1.2s forwards;
            animation: header 1.2s forwards;
}

.content__header {
    padding: 0 0 2vh 0;
}

.header__logo {
    margin: 2vw 8vw 3vw 5vw;
}

.logo {
    -webkit-perspective-origin: 50% 50%;
            perspective-origin: 50% 50%;
    opacity: 0.5;
}

@-webkit-keyframes triangle {
    0% {
        /*-webkit-transform: rotateY(45deg) rotateZ(45deg);
        -moz-transform: rotateY(45deg) rotateZ(45deg);*/
        -webkit-transform: rotateX(-51deg) rotateY(127deg) rotateZ(28deg);
                transform: rotateX(-51deg) rotateY(127deg) rotateZ(28deg);
        -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
    }
    8% {
        -webkit-transform: rotateX(-4deg) rotateY(124deg) rotateZ(31deg);
                transform: rotateX(-4deg) rotateY(124deg) rotateZ(31deg);
        -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
    } 
    15%{
        -webkit-transform: rotateX(52deg) rotateY(129deg) rotateZ(35deg);
                transform: rotateX(52deg) rotateY(129deg) rotateZ(35deg);
        -webkit-transform-origin: 61% 74%;
                transform-origin: 61% 74%;
    }
    23% {
        -webkit-transform: rotateX(65deg) rotateY(179deg) rotateZ(-1deg);
                transform: rotateX(65deg) rotateY(179deg) rotateZ(-1deg);
        -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
    }
    32% {
        -webkit-transform: rotateX(58deg) rotateY(181deg) rotateZ(62deg);
                transform: rotateX(58deg) rotateY(181deg) rotateZ(62deg);
        -webkit-transform-origin: 79% 124%;
                transform-origin: 79% 124%;
    }
    40% {
        -webkit-transform: rotateX(63deg) rotateY(179deg) rotateZ(120deg);
                transform: rotateX(63deg) rotateY(179deg) rotateZ(120deg);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
    50% {
        -webkit-transform: rotateX(52deg) rotateY(125deg) rotateZ(149deg);
                transform: rotateX(52deg) rotateY(125deg) rotateZ(149deg);
        -webkit-transform-origin: 84% 68%;
                transform-origin: 84% 68%;
    }
    60% {
        -webkit-transform: rotateX(125deg) rotateY(126deg) rotateZ(150deg);
                transform: rotateX(125deg) rotateY(126deg) rotateZ(150deg);
        -webkit-transform-origin: 75% 50%;
                transform-origin: 75% 50%;
    }
    70% {
        -webkit-transform: rotateX(116deg) rotateY(180deg) rotateZ(180deg);
                transform: rotateX(116deg) rotateY(180deg) rotateZ(180deg);
        -webkit-transform-origin: 0% 100%;
                transform-origin: 0% 100%;
    }
    80% {
        -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
                transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    90% {
        -webkit-transform: rotateX(184deg) rotateY(124deg) rotateZ(151deg);
                transform: rotateX(184deg) rotateY(124deg) rotateZ(151deg);
        -webkit-transform-origin: 68% 36%;
                transform-origin: 68% 36%;
    }
    100% {
        -webkit-transform:  rotateX(132deg) rotateY(53deg) rotateZ(207deg);
                transform:  rotateX(132deg) rotateY(53deg) rotateZ(207deg);
        -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
    }
}

@keyframes triangle {
    0% {
        -webkit-transform: rotateX(-51deg) rotateY(127deg) rotateZ(28deg);
                transform: rotateX(-51deg) rotateY(127deg) rotateZ(28deg);
        -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
    }
    8% {
        -webkit-transform: rotateX(-4deg) rotateY(124deg) rotateZ(31deg);
                transform: rotateX(-4deg) rotateY(124deg) rotateZ(31deg);
        -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
    } 
    15%{
        -webkit-transform: rotateX(52deg) rotateY(129deg) rotateZ(35deg);
                transform: rotateX(52deg) rotateY(129deg) rotateZ(35deg);
        -webkit-transform-origin: 61% 74%;
                transform-origin: 61% 74%;
    }
    23% {
        -webkit-transform: rotateX(65deg) rotateY(179deg) rotateZ(-1deg);
                transform: rotateX(65deg) rotateY(179deg) rotateZ(-1deg);
        -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
    }
    32% {
        -webkit-transform: rotateX(58deg) rotateY(181deg) rotateZ(62deg);
                transform: rotateX(58deg) rotateY(181deg) rotateZ(62deg);
        -webkit-transform-origin: 79% 124%;
                transform-origin: 79% 124%;
    }
    40% {
        -webkit-transform: rotateX(63deg) rotateY(179deg) rotateZ(120deg);
                transform: rotateX(63deg) rotateY(179deg) rotateZ(120deg);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
    50% {
        -webkit-transform: rotateX(52deg) rotateY(125deg) rotateZ(149deg);
                transform: rotateX(52deg) rotateY(125deg) rotateZ(149deg);
        -webkit-transform-origin: 84% 68%;
                transform-origin: 84% 68%;
    }
    60% {
        -webkit-transform: rotateX(125deg) rotateY(126deg) rotateZ(150deg);
                transform: rotateX(125deg) rotateY(126deg) rotateZ(150deg);
        -webkit-transform-origin: 75% 50%;
                transform-origin: 75% 50%;
    }
    70% {
        -webkit-transform: rotateX(116deg) rotateY(180deg) rotateZ(180deg);
                transform: rotateX(116deg) rotateY(180deg) rotateZ(180deg);
        -webkit-transform-origin: 0% 100%;
                transform-origin: 0% 100%;
    }
    80% {
        -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
                transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    90% {
        -webkit-transform: rotateX(184deg) rotateY(124deg) rotateZ(151deg);
                transform: rotateX(184deg) rotateY(124deg) rotateZ(151deg);
        -webkit-transform-origin: 68% 36%;
                transform-origin: 68% 36%;
    }
    100% {
        -webkit-transform:  rotateX(132deg) rotateY(53deg) rotateZ(207deg);
                transform:  rotateX(132deg) rotateY(53deg) rotateZ(207deg);
        -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
    }
}


@-webkit-keyframes triangle1 {
    0% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
                transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
                transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
    }
}


@keyframes triangle1 {
    0% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
                transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
                transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
    }
}

.triangle {
    
    width: 20vmin;
    height: 17vmin;
    line-height: 4em;
    text-align: center;
    font-size: 2em;
    color: #0F0;
    font-weight: bold;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform:  rotateX(132deg) rotateY(53deg) rotateZ(207deg);
            transform:  rotateX(132deg) rotateY(53deg) rotateZ(207deg);
    -webkit-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-animation: triangle 10s 2s infinite;
            animation: triangle 10s 2s infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}

.triangle__side {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 0;
    height: 0;
    border-left: 10vmin solid transparent;
    border-right: 10vmin solid transparent;
    border-bottom: 17vmin solid black;
    opacity: 0.7;
}
  
.triangle__side_bottom {
    -webkit-transform: rotateX(70.53deg);
            transform: rotateX(70.53deg);
    -webkit-transform-origin: center bottom;
        -ms-transform-origin: center bottom;
            transform-origin: center bottom;
}
  
.triangle__side_left {
    -webkit-transform: rotateY(68deg) rotateX(-29deg) rotateZ(-19deg);
            transform: rotateY(68deg) rotateX(-29deg) rotateZ(-19deg);
    -webkit-transform-origin: center top;
        -ms-transform-origin: center top;
            transform-origin: center top;
}

.triangle__side_right {
    -webkit-transform: rotateY(-68deg) rotateX(-29deg) rotateZ(19deg);
            transform: rotateY(-68deg) rotateX(-29deg) rotateZ(19deg);
    -webkit-transform-origin: center top;
        -ms-transform-origin: center top;
            transform-origin: center top;
}

.header__title_caption-letter {
    color: #036f03;
    font-size: 1.2em;
}

.content__sections {
    padding: 0px 0 20px 0;
}

.section {
    /*height: 100vh;*/
}

.section_active {
    display: block;
}

.section_hidden {
    display: none;
}

.header__title, .section__heading, .menu, .triangle {
    font-variant: small-caps;
    font-family: Tahoma, sans-serif
}

h1 {
    letter-spacing: 5px;
}

.menu {
    border-top: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.menu__item {
    width: 18vw;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 50px;
    font-weight: bold;
	-webkit-perspective: 1000px;
	perspective: 1000px;
}

.item-decor {
    width: 100%;
	position: relative;
    display: inline-block;
    color: black;
	-webkit-transition: -webkit-transform 0.3s;
	transition: -webkit-transform 0.3s;
	-o-transition: transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	    transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.item-decor::before {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
    height: 100%;
    color: #0F0;
    background: black;
    opacity: 0.85;   
    -webkit-box-shadow: 0 0 1px 1px #fafff5 inset;   
            box-shadow: 0 0 1px 1px #fafff5 inset;
	content: attr(data-hover);
	-webkit-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	    transform-origin: 50% 0;
}

.item-decor:hover,
.item-decor:focus {
    cursor: pointer;
	-webkit-transform: rotateX(90deg) translateY(-22px);
	transform: rotateX(90deg) translateY(-22px);
}

.menu-wrapper__item_active .item-decor {
	-webkit-transform: rotateX(90deg) translateY(-22px);
	transform: rotateX(90deg) translateY(-22px);
}



@-webkit-keyframes section__heading_shown {   
    from {
        color: #0F0;          
    }
    to {
        color: black;
    }
}



@keyframes section__heading_shown {   
    from {
        color: #0F0;          
    }
    to {
        color: black;
    }
}

.section__heading_shown {
    -webkit-animation: section__heading_shown 2s forwards;
            animation: section__heading_shown 2s forwards;
}

@-webkit-keyframes blinking-text {   
    from {
        color: black;          
    }
    to {
        color: palegreen;
    }
}

@keyframes blinking-text {   
    from {
        color: black;          
    }
    to {
        color: palegreen;
    }
}

.blinking-text {
    color: black;
    -webkit-animation: blinking-text 0.5s infinite alternate;
            animation: blinking-text 0.5s infinite alternate;
}

@-webkit-keyframes section__description_shown {   
    from {
        opacity: 0;        
    }
    to {
        opacity: 1;
    }
}

@keyframes section__description_shown {   
    from {
        opacity: 0;        
    }
    to {
        opacity: 1;
    }
}

.section__description {
    text-align: justify;
}

.section__description_shown {
    display: block;
    -webkit-animation: section__description_shown 2s forwards;
            animation: section__description_shown 2s forwards;
}

.section__description_hidden {
    display: none;
}

a {
    color: seagreen;
}







